<%@user.items.each do |item|%>
  <li><%=item.title%></li>
    <ul>
      <li><%=item.description%></li>
      <li><%=item.price%></li>
    </ul>
<%end%>
<a class="button" href="/items">Back to the list of items...</a><br>
<a class='button' href='/logout'>Logout</a>
