<form action='/items' method='post'>
  <label>Title:</label>
  <input type='text' name='title'><br>
  <label>Description:</label>
  <input type='text' name='description'><br>
  <label>Price:</label>
  <input type='text' name='price'>
  <input type='submit' name='submit' id='submit'>
</form>
